<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <deployDefinition>
        <processor type="Sitecore.Marketing.xMgmt.Pipelines.DeployDefinition.Deploy, Sitecore.Marketing.xMgmt"
                   set:type="Sitecore.Support.Marketing.xMgmt.Pipelines.DeployDefinition.Deploy, Sitecore.Support.116539">
          <DeployItemTimeout desc="DeployItemTimeout">00:01:00</DeployItemTimeout>
        </processor>
      </deployDefinition>
    </pipelines>
  </sitecore>
</configuration>